/* -----------------------------------------------------------GERAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=K2D&family=Raleway:wght@300;400&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    outline: none;
}
body {
    background-color: #DDDDDD;
}

body::-webkit-scrollbar {
    width: 0.1px;
}
:root {
    --navy: #004A94;
    --blue: #43C3DD;
    --black: #001B2C;
    --baby: #D9EDF8;
}
/* -----------------------------------------------------------Cadastro */
#finish {
    z-index: 20;
    position: fixed;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
    top: 20vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.258);
}
#right {
    max-width: 25vw;
}
#finish #right h1 {
    color: black;
    font-family: 'Righteous';
    font-size: xx-large;
}
#right h2 {
    color: black;
    font-size: large;
}
#left img {
    width: 20vw;
}
#right h3 {
    color: black;
    font-weight: 400;
    margin-top: 1vh;
}
#finish input[type=text] {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}
input[type=submit] {
    font-size: 17px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.275);
    transition: .3s ease-out;
    cursor: pointer;
    margin-left: 4vw;
    text-align: center;
}
input[type=submit]:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);  
}
input[type=date] {
    border: none;
    padding: 5px 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    font-size: medium;
}
select {
    border: none;
    padding: 2px 10px;
    outline: none;
    font-size: medium;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}
#blur {
    z-index: 12;
    position: absolute  ;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center
}

/* -----------------------------------------------------------HEADER */
header h1 {
    font-family: 'Righteous';
    font-size: 40px;
    margin-right: 10vw;
    align-self: center  ;
}
.userT h1{
    font-family: 'inter', sans-serif;
    font-size: large;
    font-weight: 400;
    color: white;
}
.userT p {
    font-weight: 100;
}
.userT{
    margin-left: 5px;
    max-width: 5vw;
    margin-top: 10px;
}
.user {
    margin-top: 0;
    display: flex;
    margin-left: 30vw;
    cursor: pointer;
    transition: .2s ease-in;
    border-radius: 20px;
    justify-self: center;
    width: 10vw;
    color: white;
    text-decoration: none;
}
.user a {
    color: white;
    text-decoration: none;
}
.user img {
    width: 3vw;
}
.user:hover {
    background-color: rgba(255, 255, 255, 0.264);
}
header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10vw;
}
header button img {
    width: 3vw;
}
header{
    background-color: #00000D;
    display: flex;
    align-self: center;
    padding: .5vw;
}
.search {
    justify-self: start;
    background-color: white;
    height: 5vh;
    margin-top: 1vh;
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
}
.search input {
    border: none;
    color: #00000D;
    outline: none;
    margin-left: 0.5vw;
}
header img.logo {
    width: 16vw;
    margin-right: 15vw;
}
/* -----------------------------------------------------------main  */
.buttons a {
    color: #B6B6B6;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    background-color: #3C3A3A;
    display: flex;
    justify-content: center;
    width: 13vw;
    border-radius: 10px;
    padding: 10px 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding: 2vh  0;
}
.buttons a img {
    width: 50px;
    border-radius: 10px;
}
.buttons h3 {
    align-self: center;
    margin-left: 10px;
}
.recomended h2 {
    font-family: 'Raleway';
    font-weight: 300;
}
#events {
    display: flex;
    justify-content: start; 
    gap: 5vw;
    overflow-x: scroll;
    padding-bottom: 2vw;
}
.event {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 30vw;
    display: grid;
    justify-content: center;
    padding: 10px 20px;
}
.title {
    display: flex;
}
.title h3 {
    font-size: 23px;
    margin-bottom: 5px;
}
.title h4 {
    margin-left: 40%;
    margin-top: 5px;
}
.img {
    width: 25vw;
    height: 27vh;
    background-color: black;
    border-radius: 20px;
}
.userE {
    display: flex;
}
.infos p {
    margin-top: 7px;
}
.infos {
    display: flex;
    margin-top: 7px;
}
.city {
    margin-left: 30%;
    align-self: flex-start;
    font-weight: 400;
    font-size: 15px;
}
.userImg {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.checked {
    color: orange;
}
.artist, .producer {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 23vw;
    display: grid;
    justify-content: center;
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;

    
}
.perfil {
    text-decoration: none;
}
.infosA h3{
    width: 12vw;
}
.userA{
    width: 80px;
    height:80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: black;
}
#bio {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
#artists, #producers {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;
}
.img {
    background-size: cover;
}
/* -----------------------------------------------------------Footer */
footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    border-color: red;
    background-color: black;
}
footer p {
    padding: 20px;
    color: whitesmoke;
}
footer a{
    text-decoration: none;
}
#instagram {
    color: yellow;
}
#twitter {
    color: aqua;
}

@media screen and (max-width: 450px) {
    #finish {
        top: 0;
        max-width: 100vw;
    }
    #left {
        width: 100vw;
    }
    #right {
        max-width: 100vw;
    }
    #finish #right h1 {
        font-size: 70px;
    }
    #finish h2 {
        font-size: 30px;
    }
    #finish h3 {
        font-size: 30px;
    }
    input[type=text], input[type=date]  {
        font-size: 20px;
    }
    input[type=submit] {
        font-size: 30px;
    }
    select {
        font-size: 20px;
        padding: 10px;
    }
    a {
        font-size: 20px;
    }
    #left img {
        display: none;
    }
    header img.logo {
        width: 30vw;
        margin-right: 0px;
    }
    .user img {
        width: 10vw;
    }
    section.buttons {
        display: grid;
        justify-content: center;
    }
    .buttons a {
        width: 70vw
    }
    .event {
        width: 100vw;
    }
    .img {
        width: 90vw;
    }
    .search {
        display: none
    }
    .artist, .producer {
        width: 90vw;
    }
}